rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if false;
      allow write: if true; // too permissive
    }
    match /emails/{userEmail} {
      allow get;
      allow list: if false; // don't want someone to fetch all emails
      allow create;
      allow update: if false; // will allow for auth users in due course
    }
  }
}