rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function screeningDataVerified() {
      let screen = request.resource.data.screening;
      let hasPrimaryKeys = request.resource.data.keys().hasAll(['screening', 'dateAccountCreated']);
      let hasSecondaryKeys = screen.keys().hasAll(['firstName', 'lastName', 'email', 'phone', 'sex', 'height', 'weight', 'bmi', 'dateCreated' ]);
      let hasKeys = hasPrimaryKeys && hasSecondaryKeys;
      let validTypes = screen.height is int && screen.weight is int && screen.bmi is float && screen.dateCreated is timestamp;
      return hasKeys && validTypes;
    }
    function isSameUser() {
      let docId = get(/databases/$(database)/documents/emails/$(request.auth.token.email)).data.docId;
      let patientId = get(/databases/$(database)/documents/patients/$(docId)).data.userId;
    	return request.auth != null && request.auth.uid == patientId;
    }
    match /patients/{patientId} {
      allow get: if isSameUser();
      allow list: if false; // don't allow fetching of all users
      allow create: if screeningDataVerified();
      allow update: if resource.data.dateAccountCreated == null || isSameUser();
    }
    match /emails/{userEmail} {
      allow get;
      allow list: if false; // don't allow fetching of all emails
      allow create;
      allow update: if isSameUser();
    }
    match /captchas/{userEmail} {
      allow get;
      allow list: if false;
      allow write;
    }
  }
}