rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if false;
      allow create: if request.resource.data.keys().hasAll(['screening', 'dateAccountCreated']);
      allow update: if resource.data.dateAccountCreated == null; // allow auth users in future
    }
    match /emails/{userEmail} {
      allow get;
      allow list: if false; // don't allow fetching of all emails
      allow create;
      allow update: if false; // allow auth users in future
    }
  }
}