@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.typing-cursor::after {
  content: '';
  animation: cursor 1s infinite;
  border-right: 1px solid #fff;
  margin-left: 4px;
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
